<ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
<ion-content padding text-center *ngIf="!isLoading">

    <div>
        <ion-title>Kullanıcı Giriş</ion-title>

        <ion-input type="text" placeholder="Adınız" class="myInput" [(ngModel)]="Adınız"></ion-input>

        <ion-input type="text" placeholder="Soyadınız" class="myInput" [(ngModel)]="Soyadınız"></ion-input>

        <ion-input type="email" placeholder="Email" class="myInput" [(ngModel)]="email"></ion-input>

        <ion-input type="password" placeholder="Şifre" class="myInput" [(ngModel)]="password"></ion-input>


        <ion-button expand="block" (click)="loginClick()">Giriş Yap</ion-button>
        <ion-button color="blue" routerLink="/signup" routerDirection="root">Kayıt Ol</ion-button>
    </div>

</ion-content>