<ion-header>
  <ion-toolbar>
    <ion-title>Doktor Randevu Al</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" [routerLink]="['/doktor_listesi']" >Doktor Seç</ion-button>

  <ion-list>
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input [(ngModel)]="txtDoktorAdi" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tarih(gg.aa.yyyy)</ion-label>
      <ion-input [(ngModel)]="txtDoktorTarih" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Saat </ion-label>
      <ion-input [(ngModel)]="txtDoktorSaat" type="text"></ion-input>
    </ion-item>    
  </ion-list>
  <ion-button color="medium" (click)="randevuAl()" block>Randevu Al</ion-button>
</ion-content>